header {
    background-color: var(--color-accent);
    color: white;
    padding: 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header-text {
    text-align: left;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 0.5rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px 0 0 5px;
}

#search-form button {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    background-color: var(--color-button);
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-form button:hover {
    background-color: var(--color-button-hover);
}

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: stretch;
    }

    .header-text {
        text-align: center;
        margin-bottom: 1rem;
    }

    #search-form {
        justify-content: center;
    }
}
